streamlit>=1.35.0
azure-ai-inference
azure-ai-projects
azure-core
azure-identity
azure-storage-blob
openai
pandas
numpy
scipy
matplotlib
seaborn
plotly
pyarrow
pydantic
python-dotenv
requests
circlify
lightgbm
pydeck
altair
